:root{
    --bg-color: rgb(255, 255, 255);
}

body {
    font-family: Arail, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    text-decoration-color: aliceblue;
    background-color: black;
}
