:root{
    background-color: rgb(32, 0, 19);
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    margin: 0;
    color:aliceblue;
    padding: 20px;
    text-align: center;
    background-color: rgba(39, 2, 51, 0.226);
}

h1{
    color: rgb(255, 255, 255);
}