:root{
    background-color: rgb(32, 0, 19);
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    color:aliceblue;
    text-align: center;
    background-color: rgba(39, 2, 51, 0.226);
}

h1{
    letter-spacing: 1px;
    stroke-width: 100px;
    font-size: larger;
}

.header {
    position: fixed;
    height: 200px;
}

.header img{
width:auto;
}

.care {
    border: 5px solid #ffffff;
    background: #414141;
    position:relative;
    align-content: center;
    padding: 4px;
    height: fit-content;
    width: fit-content;
	border-radius: 10px;
}

.care img {
    height: 100px;
}

.github {
	z-index: 10000;
	bottom: 10px;
	right: 10px;
	position: fixed;
	border-radius: 10px;
	background: #fff;
	padding: 0 12px 6px 12px;
	border: 1px solid #000;
}

.github img {
	height: 30px;
}